<div class="p-4">
  <button (click)="goBack()" class="mb-4 text-blue-500">← Vissza</button>

  @if (isLoading()) {
    <p>Betöltés...</p>
  } @else if (currentTopic()) {

    <h1 class="text-2xl font-bold mb-2">
      <span class="material-icons align-middle mr-2">{{ currentTopic()?.icon }}</span>
      {{ currentTopic()?.titles }}
    </h1>

    <p class="italic text-gray-600 mb-6">{{ currentTopic()?.description }}</p>

    <div class="grid gap-4">
      @for (verseId of currentTopic()?.verses; track verseId) {
        <app-verse-renderer></app-verse-renderer>
      }
    </div>

  } @else {
    <p>A téma nem található.</p>
  }
</div>
